* {
  margin: 0;
  padding: 0;
}

.container {
  position:relative;
  width: 820px;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 100px;
}

.index1 {
  width: 280px;
  display: inline-block;
  text-align: center;
  border: 1px solid #b0bec5;
  overflow: hidden;
  border-radius: 5px;
}
.index1:hover {
  box-shadow: 0px 0px 15px -2px #424242;
}

.index2 {
  width: 280px;
  display: inline-block;
  float: right;
  text-align: center;
  border: 1px solid #b0bec5;
  overflow: hidden;
  border-radius: 5px;
}
.index2 .text {
  background: #1cb79a;
}
.index2:hover {
  box-shadow: 0px 0px 15px -2px #424242;
}

.index3 {
  position:absolute;
  width: 280px;
  display: inline-block;
  float: right;
  text-align: center;
  border: 3px solid #f57c00;
  overflow: hidden;
  border-radius: 5px;
  background:#ffffff;
  top:-4%;
  left:32.6%;
  padding-bottom:15px;
}
.index3 .text {
  background: #f57c00;
  padding: 23px 0;
}
.index3 .lev1{
  text-transform: uppercase;
}
.index3 .btn{
  background: #f57c00;
  box-shadow: 0px 3px 0px 0px #b3560b;
}
.index3:hover {
  box-shadow: 0px 0px 15px -2px #424242;
}

.text {
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: #00ced1;
}

.graph {
  font-size: 20px;
  opacity: 0.7;
  padding: 20px 0;
}

.baby {
  font-size: 70px;
  color: #35495a;
  padding-bottom: 15px;
}

.child .baby:before {
  content: "$ ";
  font-size: 20px;
  vertical-align: top;
}

.child .baby:after {
  content: "Monthly";
  font-size: 18px;
  vertical-align: bottom;
  text-transform: none;
}

.tab {
  padding: 15px 15px 20px;
  font-size: 15px;
  color: #888c94;
  text-align: left;
  text-transform: none;
}
.tab li {
  position: relative;
  list-style-type: none;
  background: #edf5fd;
  padding: 5px 5px 5px 50px;
  border-bottom: 1px solid white;
}
.tab li:before {
  content: '';
  position: absolute;
  background: url(http://www.clipartbest.com/cliparts/xTg/Bry/xTgBryETA.png) no-repeat;
  background-size: contain;
  width: 17px;
  height: 19px;
  top: 8px;
  left: 20px;
}
.tab li:nth-child(even) {
  background: #f5f5f6;
}

.btn {
  width: 230px;
  background: #3371a6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 0;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px #16436a;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}