* {
  margin: 0;
  padding: 0;
}

.testimonials-container {
  background: url(task2f.psd) no-repeat;
  background-size: cover;
}

.testimonials-container h1 {
  text-transform: uppercase;
  text-align: center;
  font: bold 40pt "Trebuchet MS", sans-serif;
  color: #1e88e5;
  padding-top: 3%;
  opacity: 0.9;
}

.orange {
  color: #ff9800;
  opacity: 0.9;
  font-weight: thin;
}

.wraper{
  margin-left:14%;
  padding-bottom: 4%;
}
.customer {
  width: 528px;
  display: inline-block;
  padding: 1.5%;
}

.article {
  position: relative;
  float: right;
  padding: 10px 16px;
  width: 364px;
  background: white;
  font: 11pt 'Trebuchet MS', sans-serif;
  opacity:0.9;
}
.author:before {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-right: 15px solid #ffffff;
  top:35px;
  left: -30px;
}
.customer-header {
  border-bottom: 1px dashed #666666;
  line-height: 25px;
  font-style: Italic;
  font-weight: bold;
  color: #1e88e5;
}
.customer-client {
  float: right;
}
.descript {
  padding-top: 10px;
  color:#666666;
}