
*{
	margin: 0;
	padding: 0;
}
.nav-menu{
	width:100%;
	padding-left: 5%;
	background: #b84dff;
	text-align: left;
	font: bold 26px "Economica", sans-serif;
	text-transform: uppercase;
	box-sizing: border-box;
}
.nav-menu li{
	display: inline-block;
	padding: 10px 20px;
}
.nav-menu a{
	text-decoration: none;
	color: white;
}
.nav-menu li:hover a{
	color: grey;
}
.nav-menu li:hover {
	background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
}
.float{
	float: right;
	margin-right: 10%;
}
.nav-pager{
	text-align:center;
	margin-top:40%;
	font: bold 17px "Helvetica", sans-serif;
	color: #b84dff;
	text-transform: uppercase;
}
.nav-pager li{
    display: inline-block;
    padding:0 0.8em;
    text-decoration: none;
    vertical-align: bottom;
}
.nav-pager .numbers{
    padding: 0.5em 0.8em;
    border:1px solid #d3d3d3;
    border-radius: 6px;
}
.nav-pager .words{
    padding-bottom: 0.4em;
}
.nav-pager a{
    text-decoration: none;
	color: #b84dff;
}
.nav-pager .numbers:hover a {
	color: #fff;
}
.nav-pager .numbers:hover{
	background: #b84dff;
	transition: background-color 0.3s ease-in;
	cursor: pointer;
	border-color: #b84dff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.nav-pager .words:hover{
	text-decoration: underline;
}
a{
	margin:10% 10%; 
}