
form {
	margin-top: 2%;
}

.red 
{
        border-radius: 11px; /* Закругление кнопки */
        color: #ffffff;
        background: red;
        padding: 6px 12px;
        font-size: 130%;
        font-family: arial;
        font-weight: bold;
}

.green 
{
        border-radius: 11px; /* Закругление кнопки */
        color: #ffffff;
        background: green;
        padding: 6px 12px;
        font-size: 130%;
        font-family: arial;
        font-weight: bold;
}

.blue 
{
        border-radius: 11px; /* Закругление кнопки */
        color: #ffffff;
        background: blue;
        padding: 6px 12px;
        font-size: 130%;
        font-family: arial;
        font-weight: bold;
}

input 
{
    display: none;
}

input[id="red"]:checked ~ .red 
{
    display: none;
}

input[id="green"]:checked ~ .green 
{
    display: none;
}

input[id="blue"]:checked ~ .blue 
{
    display: none;
}

label[for="red"] {
	color: red;
	margin-left: 20px;
} 

label[for="green"] {
	color: green;
} 

label[for="blue"] {
	color: blue;	
} 

label {
	margin-right: 40px;
	font-family: arial;
	font-size: 150%;
	text-decoration: underline;
}