@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
* {
  margin: 0;
}

#menu {
  width: 100%;
  background: #a64dff;
  margin-top: 15px;
}

ul {
  width: 900px;
  margin: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
  float: left;
  margin: 10px 0;
}

a {
  font-family: 'Economica bold', fantasy;
  text-decoration: none;
  background: #a64dff;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 130%;
  padding: 10px;
}

a:hover {
  background: #eeeeee;
  color: #a0a0aa;
}

li.button-right {
  float: right;
}
