@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

* {
  margin: 0;
  padding: 0;
}

.menu {
width: 100%;
background: #1aa4ff;
text-align: center;
}

.block {
    width: 900px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 10px 0;
}

.menu li ul {
	display: none;
	position:absolute;
	background: #eeeeee;
	text-align:center;
}

.menu li ul li a{
	font-family: arial;
	background: #eeeeee;
	color: #a0a0aa;
	font-size: 90%;
	text-transform: none;
}

.menu li ul li a:hover {
background: #eeeeee;
color: #a0a0aa;
}

.menu li:hover > ul {
  display: block;
  position:absolute;
  left: 27.9%;
  top: 42px;

}

a {
font-family: 'Economica bold', fantasy;
text-decoration: none;
background: #1aa4ff;
color: white;
text-align:  center;
text-transform: uppercase;
font-size: 110%;
padding: 10px;
}

a:hover {
background: #eeeeee;
color: #a0a0aa;
}

